.headerLogoWork{
	color: #00a1f1;
	font-size: 32pt;
	font-family: Arial;
	font-weight: bold;
}
.headerLogoUa{
	color: #00a1f1;
	font-size: 18pt;
	font-family: Arial;
	font-weight: bold;
}
.headerLogo {
	cursor: pointer;
	margin-top: 50px;
}
#menu {
    width: 1150px;
    margin-left: auto ;
    margin-right: auto ;
}
#headerMenu {
    margin-left: 300px;
    height: 70px;
}
.headerMenuLi{
	float: left;
	list-style-type: none;
	font-size: 16pt;
	color: #00a1f1;
	margin-left: 60px;
	font-weight: bold;
}
.headerMenuLi:hover{
	text-decoration: underline;
	cursor: pointer;
}
#headerMenuButton{
	float: left;
	list-style-type: none;
	font-size: 16pt;
	margin-left: 60px;
	font-weight: bold;
	background: #00a1f1;
	color: white;
	font-size: 16pt;
	font-family: Arial;
	width: 100px;
	height: 50px;
	text-align: center;
	line-height: 45px;
	border-radius: 7px;
	margin-top: -15px;
}
#headerMenuButton:hover{
	text-decoration: none;
	cursor: pointer;
	background: #0094df;
}
#headerMenu{
	
	margin-top: -25px;
	
}
#header{ 
	height: 100px;
}
#footer {
	border-top: 1px solid #00a1f1;
    margin-bottom: 0px;
}
.footerLink { 
	color: #00a1f1;
	font-size: 16pt;
	display: block;
}
.footerLink:hover {
	text-decoration: underline;
	cursor: pointer;
}
#footerLinks{
	float: right;
}
.footerLinkExp {
	color: gray;
	margin-top: 20px;
	font-size: 14pt;
	position: relative;
	top: 7.5px;
   
}
.footerItem {
	float: right;
	margin-right: 30px;
}
.footerExp { 
	color: gray;
	font-size: 20px;
	position: relative;
	top: 20px;
	
	 margin-left: 4%;
}
#footerLinks {
	position: relative;
	top: -37.5px;
}
#bodyContent {
    background: #00a1f1
    url('//st.work.ua/i/main/girl.jpg') center 13px no-repeat;
    height: 275px;
}
#bodyContentHeader {
    padding-top: 22px;
    color: white;
    font-size: 30pt;
    font-family: Verdana;
}
#bodyContentExp {
    padding-top: 20px;
    font-size: 12pt;
    font-family: Verdana;
    color: #cbe6fb;
}
#bodyContentFormText {
    margin-top: 15px;
    width: 375px;
    height: 25px;
    font-size: 12pt;
}
#bodyContentFormCity {
    width: 140px;
    height: 31px;
    font-size: 12pt;
    margin-left: -4px;
}
#bodyContentFormSubmit {
    width: 125px;
    height: 31px;
    background: #e42469;
    color: white;
    font-size: 12pt;
    font-weight: bold;
    border: 1px solid #e42469;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    margin-left: -4px;
    position: relative;
    top: -1px;
    cursor: pointer;
    
}
#bodyContentFormSubmit:hover {
    background: #CC3333;
    border: 1px solid #CC3333;
}

#bodyContentRef {
   
}
.bodyAbilityHeader {
   font-size: 24px; 
   font-family: Verdana;
}
.bodyAbilityExp {
   font-size: 18px;
   display: block;
   margin-top: 15px;
   font-family: Verdana;
}
.bodyAbilityLink {
    background: url('//st.work.ua/i/plus.png') 0 3px no-repeat;
    background-size: 22px;
    display: inline-block;
    height: 32px;
    padding: 5px 0 5px 30px;
    font-size: 18px;
    color: #00a1f1;
    margin-top: 10px;
}
.bodyAbility {
    float: left;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
}
.bodyAbilityHeaderLst{
    margin-top: 10px;
    margin-left: 20px;
    list-style-type: circle;
}

.bodyAbilityHeaderLstLi{
    color: #00a1f1;
    font-size: 18px;
}
#bodyAbilities{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    overflow: hidden;
}
#bodyWorkByCategories{
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#bodyWorkByCategoriesHeader{
    font-size: 24px;
    font-family: Verdana;
    
}
#bodyWorkByCategoriesList{
    list-style-type: circle;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 30px;
}
#bodyWorkByCategoriesList > li  {
    text-decoration: underline;
    color: #00a1f1;
    font-size: 18px;
    margin-top: 7px;
    
}

#bodyWorkByCategoriesList > li:hover{
    cursor: pointer;
}